@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 id="test" class="display-3 text-white">Birds project!</h1>
</div>

<div id="div1" class="text-left bg-light text-dark shadow mt-4 rounded">
    <div class="ml-3">
        <h2 class="mt-2">This is the index page of the App</h2>
        <p>This page with introduce the user to the project and let them know about our mission statement and what we're doing.</p>
        <p class="pb-3">Another paragraph about what this application hopes to achieve and how it can help research methods in the conservation efforts</p>
    </div>
</div>

<div id="div2" class="text-right bg-light text-dark shadow mt-4 rounded">
    <h2 class="mr-3 mt-2">Mission Statement</h2>
    <p class="pb-3 mr-3">This Division will have the mission statement of the company/ conservation group effort.</p>
</div>

<div id="div3" class="text-left bg-light text-dark shadow mt-4 rounded">
    <div class="ml-3">
        <h2 class="mt-2">Last div on the page</h2>
        <p class="pb-3">
            This div will have further information and detaila bout how to use the application and what problems or questions the application helps to answer.
        </p>
    </div>

</div>

